/**
 * Copyright 2016 eustasy
 * The MIT License (MIT)
 */

/**
 * Resets
 */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html,
body {
    width: 100%;
    height: 100%;
}

/**
 * Typography
 */
body {
    color: #111;
    font-family: "Open Sans", "Droid Sans", Helvetica, sans-serif;
    font-size: 12px;
    font-weight: 400;
}

h2,
h3 {
    font-family: "Droid Serif", serif;
    font-weight: 300;
}

p {
    font-size: 14px;
}

/**
 * Elements
 */

/**
 * Page layout
 */
body {
    display: flex;
    flex-direction: row;
    min-width: 250px;
}

nav.sidebar {
    background-color: #fcfcfc;
    border-right: 1px solid #dedede;
    color: #666;
    display: flex;
    flex-direction: column;
    flex: 0.15 1 auto;
    height: 100vh;
    left: -100%;
    max-width: 75vw;
    position: absolute;
    top: 0;
    right: 0;
    transition: left 200ms ease;
}

nav.sidebar.active {
    left: 0;
}

nav.sidebar > div.search > input[type="text"] {
    border: none;
    border-bottom: 1px solid #dedede;
    font-size: 14px;
    height: 58px;
    outline: none;
    padding: 20px;
    transition: background 100ms ease;
    width: 100%;
}

nav.sidebar > div.search > input[type="text"]:focus {
    background-color: rgba(0, 0, 0, 0.03);
}

nav.sidebar > ul {
    display: block;
    flex-direction: column;
    flex: 1 1 auto;
    overflow-y: auto;
}

nav.sidebar > ul ul {
    display: flex;
    flex-direction: column;
    flex: 0 0 auto;
    overflow-y: auto;
}

nav.sidebar > ul ul:not(:first-of-type) {
    border-top: 1px solid #dedede;
}

nav.sidebar > ul ul:last-of-type {
    flex: 1 1 auto;
}

nav.sidebar > ul li {
    padding: 12px 20px;
}

nav.sidebar > ul a {
    color: inherit;
    text-decoration: none;
}

nav.sidebar > ul a:hover,
nav.sidebar > ul a:active {
    background-color: rgba(0, 0, 0, 0.1);
}

main {
    align-content: flex-start;
    align-items: stretch;
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    overflow: hidden;
}

main > div.content {
    flex: 1 1 auto;
    padding: 10px;
}

header {
    background-color: #403757;
    color: #fff;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex: 0 0 auto;
    font-size: 14px;
    height: 58px;
    overflow: hidden;
    text-align: center;
}

header * {
    display: flex;
}

header a {
    color: inherit;
    text-decoration: none;
}

header > div {
    align-items: center;
    flex-wrap: wrap;
    flex: 9001 0 192px;
    height: 100%;
    min-width: 192px;
    overflow: hidden;
}

header > div > div {
    align-items: center;
    cursor: pointer;
    flex: 0 0 auto;
    font-size: 18px;
    height: 58px;
    justify-content: center;
    text-rendering: geometricPrecision;
    width: 58px;
}

header > div > div:hover {
    background-color: rgba(95, 82, 128, 0.6);
}

header > div > div:active {
    background-color: rgba(38, 33, 51, 0.8);
}

header > div > a {
    flex: 1 0 auto;
    height: 42px;
    justify-content: center;
    padding: 0 12px;
}

header > div > span {
    align-items: flex-end;
    flex: 9001 1 auto;
    height: 34px;
    margin: 10px;
}

footer {
    background-color: #fefefe;
    border-top: 1px solid #eee;
    display: flex;
    flex-wrap: wrap;
    flex: 0 0 auto;
    justify-content: space-between;
}

footer * {
    display: flex;
}

footer span {
    padding: 10px;
}

footer ul {
    align-content: stretch;
    align-items: stretch;
    flex-wrap: wrap;
    justify-content: center;
}

footer a {
    align-items: center;
    color: inherit;
    padding: 10px;
    text-decoration: none;
    transition: background 50ms ease;
}

footer a:hover,
footer a:active {
    background-color: rgba(0, 0, 0, 0.1);
}

@media (min-width: 760px) {
    nav.sidebar {
        position: static;
    }

    header > div > .sidebar-menu {
        display: none;
    }
}

@media (min-height: 650px) {
    nav.sidebar > ul {
        display: flex;
    }
}
