/**
 * Copyright 2016 eustasy
 * The MIT License (MIT)
 */

/**
 * Resets
 */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html,
body {
    width: 100%;
    height: 100%;
}

/**
 * Typography
 */
body {
    color: #111;
    font-family: "Open Sans", "Droid Sans", Helvetica, sans-serif;
    font-size: 12px;
    font-weight: 400;
}

h1 {
    border-bottom: 1px solid #dedede;
    font-size: 32px;
    font-weight: 200;
}

h2 {
    font-size: 28px;
    font-weight: 300;
}

h3 {
    font-size: 24px;
    font-weight: 600;
}

h4 {
    font-size: 20px;
    font-weight: 600;
}

p {
    font-size: 14px;
    padding: 10px 0;
    line-height: 1.6em;
    max-width: 65ch;
}

a {
    color: #08c;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/**
 * Page layout
 */
body {
    display: flex;
    flex-direction: row;
    min-width: 250px;
}

nav.sidebar {
    background-color: #fcfcfc;
    border-right: 1px solid #dedede;
    color: #666;
    display: block;
    flex-direction: column;
    flex: 0.15 0 auto;
    height: 100vh;
    left: -100%;
    max-width: 75vw;
    overflow-y: auto;
    position: absolute;
    right: 0;
    top: 0;
    transition: left 200ms ease;
    z-index: 9001;
}

nav.sidebar.active {
    left: 0;
}

nav.sidebar > a[href="/"] {
    align-items: center;
    background-color: #403757;
    display: none;
    flex: 0 0 auto;
    height: 64px;
    justify-content: center;
}

nav.sidebar > div.search > input[type="text"] {
    border: none;
    border-bottom: 1px solid #dedede;
    font-size: 14px;
    height: 64px;
    outline: none;
    padding: 20px;
    transition: background 100ms ease;
    width: 100%;
}

nav.sidebar > div.search > input[type="text"]:focus {
    background-color: rgba(0, 0, 0, 0.03);
}

nav.sidebar > ul {
    display: block;
    flex-direction: column;
    flex: 1 1 auto;
    overflow-y: auto;
}

nav.sidebar > ul ul {
    display: flex;
    flex-direction: column;
    flex: 0 0 auto;
    overflow-y: auto;
}

nav.sidebar > ul ul:not(:first-of-type) {
    border-top: 1px solid #dedede;
}

nav.sidebar > ul ul:last-of-type {
    flex: 1 1 auto;
}

nav.sidebar > ul li {
    align-items: center;
    display: inline-flex;
    padding: 8px 12px;
}

nav.sidebar > ul li::before {
    background-position: 50%;
    background-repeat: no-repeat;
    content: "";
    height: 16px;
    margin-right: 12px;
    width: 16px;
}

nav.sidebar > ul li.package::before {
    background-image: url("/assets/images/icons/package.svg");
}

nav.sidebar > ul a {
    color: inherit;
    text-decoration: none;
}

nav.sidebar > ul a:hover,
nav.sidebar > ul a:active {
    background-color: rgba(0, 0, 0, 0.1);
}

main {
    align-content: flex-start;
    align-items: stretch;
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    overflow-y: auto;
}

main > header {
    align-items: center;
    background-color: #403757;
    color: #fff;
    display: flex;
    flex-direction: row;
    flex: 0 0 auto;
    font-size: 18px;
    height: 64px;
    justify-content: center;
}

main > header,
main > header * {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 64px;
}

main > header > div {
    cursor: pointer;
    height: 64px;
    width: 64px;
}

main > header > div:hover,
main > header > div:active {
    background-color: rgba(0, 0, 0, 0.2);
}

main > header > a {
    flex: 1 1 auto;
}

main > section.content {
    flex: 1 1 auto;
    box-sizing: content-box;
}

main > footer {
    background-color: #fefefe;
    border-top: 1px solid #eee;
    display: flex;
    flex-wrap: wrap;
    flex: 0 0 auto;
    justify-content: space-between;
}

main > footer * {
    display: flex;
}

main > footer span {
    padding: 10px;
}

main > footer ul {
    align-content: stretch;
    align-items: stretch;
    flex-wrap: wrap;
    justify-content: center;
}

main > footer a {
    align-items: center;
    color: inherit;
    padding: 10px;
    text-decoration: none;
    transition: background 50ms ease;
}

main > footer a:hover,
main > footer a:active {
    background-color: rgba(0, 0, 0, 0.1);
}

@media (min-width: 760px) {
    nav.sidebar {
        position: static;
    }

    nav.sidebar > a[href="/"] {
        display: flex;
    }

    main > header {
        display: none;
    }
}

@media (min-height: 400px) {
    nav.sidebar {
        display: flex;
    }
}

@media (min-height: 750px) {
    nav.sidebar > ul {
        display: flex;
    }
}

/**
 * Page elements
 */
section.content .wrapper {
    margin: 10px 20px;
}

section.content h1 {
    padding: 12px 20px;
    min-height: 64px;
}

section.content h4 {
    padding: 10px 20px;
}

section.content ul {
    padding: 6px 30px;
}

section.content ul li {
    padding: 4px 0;
    list-style: none;
}

section.content ul li > span {
    display: block;
    padding: 4px 0 0 10px;
}

section.content .btn {
    margin: 10px;
    padding: 16px 32px;
    background: linear-gradient(to bottom, #534870 0%, #443b5c 100%);
    color: #fff;
    text-shadow: 0 1px #2f2740;
    box-shadow: inset 0 0 0 1px rgba(47, 41, 64, 0.3);
    border-radius: 3px;
    text-decoration: none;
}

/**
 * Javascript related things
 */
main .sticky {
    background-color: #fff;
    border-bottom: 1px solid transparent;
    transition: border-color 150ms ease;
    width: 100%;
}

main .sticky.sticky--before {
    position: relative;
}

main .sticky.sticky--stuck {
    border-color: #dedede;
    position: fixed;
    top: 0;
}

main .sticky.sticky--after {
    bottom: 0;
    position: absolute;
}

/**
 * Error page
 */
section.content[id$="error"] {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

section.content[id$="error"] img {
    width: 96px;
    height: 96px;
    padding: 16px;
}
